{{#each this.response}}
<div class="random">
  <div>
    <img src={{this.image_url}} alt='' width='70' />
  </div>
  <div>
    <h3>{{this.name}}</h3>
    <p id="grey"> {{this.tagline}}</p>
    

    <p> {{this.description}}</p>
    
    <p><strong>Food Pairing:</strong><br><li>{{this.food_pairing}}</li></p>
    <p><strong>Brewer Tips:</strong> {{this.brewers_tips}}</p>

  </div>
</div>
{{/each}}